<div id="Home-Container" class="Page-Container">
  <div id="Home-Pic">
    <img id="Profile" src="assets/propic.jpg"/>
  </div>
  <div id="Home-Text">
    <h1>Shijia Zheng</h1>
    <h3>Education</h3>
    <p>
      University at Buffalo <br/>
      Computer Science B.A. <br/>
      Game Studies Certificate <br/>
      Graduation: May 2021 <br/>
<!--      <br/>-->
    </p>

    <h3>Resume</h3>
    <a href="assets/resume.pdf" download>Download Link</a>
<!--    <br/>-->
    <h3>External Links</h3>
    <a href="https://github.com/shijiazheng123">Github</a><br/>
    <a href="https://www.linkedin.com/in/shijia-zheng-5807b1162/">LinkedIn</a>
  </div>


</div>

