<div id="Programming-Container" class="Page-Container">
  <div class="program-info">
    <h3>MMO Game</h3>
    <p>
      Massive multi-player game developed with a team using Phaser.JS, Flask server, and MySQL database.
      Utilizes websockets for real-time interaction. Project was done with a team.
    </p>
    <a href="https://www.youtube.com/watch?v=rJ0yeLNdSno">Demo</a><br/>
    <a href="https://github.com/shijiazheng123/project116">Repository</a><br/><br/>
    <img class="programming-example" src="assets/mmogame.png"/>
  </div>
  <div class="program-info">
    <h3>Procedural World</h3>
    <p>
      Short game made with Unity using C# scripting.
      Features 2D graphics and procedurally generated world for the player
      to explore and collect resources. Features non-player characters with pathing
      that interacts with the surrounding environment and the presence of the player.
    </p>
<!--    <a href="https://www.youtube.com/watch?v=rJ0yeLNdSno">Demo</a><br/>-->
    <a href="https://github.com/shijiazheng123/ProceduralWorld1">Repository</a><br/><br/>
<!--    <img class="programming-example" src="../../assets/mmogame.png"/>-->
  </div>
  <div class="program-info">
    <h3>The Last Job</h3>
    <p>
      Short game made with Phaser3 JS. A story-driven role-playing game
      with different endings based on different interactions.
    </p>
    <!--    <a href="https://www.youtube.com/watch?v=rJ0yeLNdSno">Demo</a><br/>-->
    <a href="https://zhengomono.itch.io/lastjob">Game</a><br/><br/>
    <img class="programming-example" src="assets/lastjob.png"/>
    <!--    <img class="programming-example" src="../../assets/mmogame.png"/>-->
  </div>
  <div class="program-info">
    <h3>Ubook</h3>
    <p>
      Developed with Javascript, Python, and Django.
      A social media site focusing on full-stack development.
      Worked with a group to create a site with user accounts, authentication,
      real-time feed updates, post voting, and direct messaging.
    </p>
    <a href="https://www.youtube.com/watch?v=76o7VK6i_Ws">Demo</a><br/>
    <a href="https://github.com/akcse116/Ubook">Repository</a><br/><br/>
    <img class="programming-example" src="assets/ubook.png"/>
  </div>
  <div class="program-info">
    <h3>Rabbithole</h3>
    <p>
      Developed with React and a REST API developed by Prof. Hunt.
      A site that focuses on frontend development and UI/UX design.
      Worked with a group to create a site that allowed users to share stories,
      and allow other users to write continuations to the shared story,
      featuring a voting system that determines the best continuation to append to the story.
    </p>
<!--    <a href="https://www.youtube.com/watch?v=76o7VK6i_Ws">Demo</a><br/>-->
<!--    <a href="https://github.com/CSE410HCI/chungus-tech-web">Repository</a><br/><br/>-->
    <img class="programming-example" src="assets/rabbithole.png"/>
  </div>
  <div class="program-info">
    <h3>OneDataShare</h3>
    <p>
      Worked on the team of an NSF research project known as OneDataShare.
      Developed and designed the front-end of OneDataShare’s website to be
      user friendly and responsive for mobile views using React and Material-UI.
    </p>
    <a href="https://youtu.be/EL5dexD6B4s">Demo</a><br/>
<!--    <a href="https://github.com/didclab/onedatashare">Repository</a><br/><br/>-->
    <img class="programming-example" src="assets/onedatashare.png"/>
  </div>

  <div class="program-info">
    <h3>SPAC Stars</h3>
    <p>
      An Android App designed for SPAC research and tracking.
      Created with Android Studio and Kotlin, with information pulled
      from a Google Sheets API. Worked on the following features:
      SPAC saving, local caching, SPAC lists, and list sorting.
    </p>
        <a href="https://www.youtube.com/watch?v=KS3TPNsA2Pc">Demo</a><br/>
<!--    <a href="https://github.com/cse442-at-ub/cse442-project-team-1">Repository</a><br/><br/>-->
    <img class="programming-example" src="assets/SPACStars.png"/>
  </div>
</div>
